<section data-ng-controller="ExamsController" data-ng-init="createInit();findOne();">
    <div class="page-header">
        <h1>Alteração do Exame</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label class="control-label" for="name">Nome do paciente</label>

                        <div class="controls">
                            <input type="text" data-ng-model="exam.name" id="name" class="form-control" placeholder="Nome"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label" for="age">Idade</label>

                        <div class="controls">
                            <input type="text" data-ng-model="exam.age" id="age" class="form-control" placeholder="Idade"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label" for="date">Data do exame</label>

                        <div class="controls">
                            <input data-ng-model="exam.date" type="date" id="date" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label" for="doctorName">Médico</label>

                        <div class="controls">
                            <input type="text" data-ng-model="exam.doctorName" id="doctorName" class="form-control"
                                   placeholder="Médico" required>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" for="reason">Motivo</label>

                        <div class="controls">
                            <input type="text" data-ng-model="exam.reason" id="reason" class="form-control"
                                   placeholder="Motivo da solicitação" required>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" for="healthPlan">Convênio</label>

                        <div class="controls">
                            <input type="text" data-ng-model="exam.healthPlan" id="healthPlan" name="healthPlan" class="form-control"
                                   placeholder="Plano de saúde" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label" for="examType">Tipo de Exame</label>

                        <div>
                            <select class="form-control" id="examType"
                                    name="examType" ng-model="exam.examType" >
                                <option ng-repeat="examtype in examtypes" value="{{examtype._id}}">{{examtype.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label" for="status">Situação</label>

                        <div>
                            <select class="form-control" id="status"
                                    name="status" ng-model="exam.status">
                                <option value="A">Aberto</option>
                                <option value="C">Cancelado</option>
                                <option value="F">Finalizado</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label class="control-label" for="report">Laudo</label>
                        <div>
                            <div text-angular ng-model="exam.report" id="report" name="report" ></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
