<section data-ng-controller="ExamsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Exames</h1>
    </div>
    <div class="list-group">
        <a class="btn btn-primary" href="/#!/exams/create">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
        <p></p>
        <a data-ng-repeat="exam in exams" data-ng-href="#!/exams/{{exam._id}}/edit" class="list-group-item">
			<small class="list-group-item-text">
				Criado em
				<span data-ng-bind="exam.created | date:'medium'"></span>
				por
				<span data-ng-bind="exam.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="exam.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!exams.$resolved || exams.length">
    	Nenhum exame cadastrado, deseja <a href="/#!/exams/create">criar um</a>?
    </div>
</section>
